<section class="content">
    <div class="content-block">
        <div class="block-header">
            <!-- breadcrumb -->
            <app-breadcrumb [title]="'All Users'" [items]="['Users']" [active_item]="'All Users'">
            </app-breadcrumb>
        </div>

        <app-gen-widgets></app-gen-widgets>

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="body">
                        <div class="table-responsive">
                            <div class="materialTableHeader">
                                <div class="row">
                                    <div class="col-8">
                                        <ul class="header-buttons-left ms-0">
                                            <li class="dropdown">
                                                <h2>All Users</h2>
                                            </li>
                                            <li class="dropdown m-l-20">
                                                <label for="search-input"><i
                                                        class="material-icons search-icon">search</i></label>
                                                <input placeholder="Filter..." type="text" (keyup)="applyFilter($event)"
                                                    #filter class="browser-default search-field"
                                                    aria-label="Search box" />
                                            </li>

                                            <li>
                                                <div class="m-l-10" matTooltip="ADD">
                                                    <button mat-mini-fab color="primary" (click)="addUser()">
                                                        <mat-icon class="col-white">add</mat-icon>
                                                    </button>
                                                </div>
                                            </li>

                                            <li>
                                                <div class="m-l-10" matTooltip="REFRESH">
                                                    <button mat-mini-fab color="primary" (click)="refresh()">
                                                        <mat-icon class="col-white">refresh</mat-icon>
                                                    </button>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="col-4">
                                        <ul class="header-buttons">
                                            <li>
                                                <div class="export-button m-l-10" matTooltip="XLSX">
                                                    <img src="assets/images/icons/xlsx.png" alt="" (click)="
                              exporter.exportTable('xlsx', {
                                fileName: 'assets-list',
                                sheet: 'sheet1'
                              })
                            " />
                                                </div>
                                            </li>
                                            <li>
                                                <div class="export-button m-l-10" matTooltip="CSV">
                                                    <img src="assets/images/icons/csv.png" alt=""
                                                        (click)="exporter.exportTable('csv')" />
                                                </div>
                                            </li>
                                            <li>
                                                <div class="export-button m-l-10" matTooltip="JSON">
                                                    <img src="assets/images/icons/json.png" alt=""
                                                        (click)="exporter.exportTable('json')" />
                                                </div>
                                            </li>
                                            <li>
                                                <div class="export-button m-l-10" matTooltip="TXT">
                                                    <img src="assets/images/icons/txt.png" alt=""
                                                        (click)="exporter.exportTable('txt')" />
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <table mat-table #table matTableExporter [dataSource]="dataSource" matSort class="mat-cell"
                                #exporter="matTableExporter">
                                <!-- Select Column -->
                                <ng-container matColumnDef="select">
                                    <th mat-header-cell *matHeaderCellDef [ngClass]="'tbl-col-width-per-4'">
                                        <mat-checkbox color="primary" (change)="$event ? masterToggle() : null"
                                            [checked]="selection.hasValue() && isAllSelected()"
                                            [indeterminate]="selection.hasValue() && !isAllSelected()"
                                            [ngClass]="'tbl-checkbox'" (change)="expSelected()">
                                        </mat-checkbox>
                                    </th>
                                    <td mat-cell *matCellDef="let row" [ngClass]="'tbl-col-width-per-4'">
                                        <mat-checkbox color="primary" (click)="$event.stopPropagation()"
                                            (change)="$event ? selection.toggle(row) : null"
                                            [checked]="selection.isSelected(row)" [ngClass]="'tbl-checkbox'"
                                            [aria-label]="checkboxLabel(row)" (change)="expSelected()">
                                        </mat-checkbox>
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="sn">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header
                                        class="column-nowrap psl-3 tbl-col-width-per-6">
                                        Sn
                                    </th>
                                    <td mat-cell *matCellDef="let row" class="column-nowrap psl-3 tbl-col-width-per-6">
                                        {{ row.sn }}
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="username">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        Username
                                    </th>
                                    <td mat-cell *matCellDef="let row">
                                        {{ row.username }}
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="firstName">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        First Name
                                    </th>
                                    <td mat-cell *matCellDef="let row">
                                        {{ row.firstName }}
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="lastName">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        Last Name
                                    </th>
                                    <td mat-cell *matCellDef="let row">
                                        {{ row.lastName }}
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="email">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        Email
                                    </th>
                                    <td mat-cell *matCellDef="let row">
                                        {{ row.email }}
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="phoneNumber">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        Phone Number
                                    </th>
                                    <td mat-cell *matCellDef="let row">
                                        {{ row.phoneNo }}
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="status">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header
                                        class="column-nowrap psl-3 tbl-col-width-per-10">
                                        Status
                                    </th>
                                    <td mat-cell *matCellDef="let row; let i = index"
                                        class="column-nowrap psl-3 tbl-col-width-per-10"
                                        (click)="$event.stopPropagation()">
                                        <ng-container [ngSwitch]="row.status">
                                            <button *ngSwitchCase="'VERIFIED'"
                                                class="badge badge-solid-purple btn btn btn-sm m-1">
                                                <i class="fas fa-check-circle"></i>&nbsp;
                                                {{ row.status }}
                                            </button>
                                            <button *ngSwitchCase="'APPROVED'"
                                                class="badge badge-solid-green btn btn btn-sm m-1">
                                                <i class="fas fa-check-circle"></i>&nbsp;
                                                {{ row.status }}
                                            </button>
                                            <button *ngSwitchCase="'REJECTED'"
                                                class="badge badge-solid-red btn btn btn-sm m-1">
                                                <i class="fas fa-times-circle"></i>&nbsp;
                                                {{ row.status }}
                                            </button>
                                            <button *ngSwitchCase="'PENDING'"
                                                class="badge badge-solid-blue btn btn btn-sm m-1">
                                                <i class="fas fa-exclamation-circle"></i>&nbsp;
                                                {{ row.status }}
                                            </button>
                                            <button *ngSwitchDefault class="badge badge-solid-brown btn btn btn-sm m-1">
                                                <i class="fas fa-question-circle"></i>&nbsp;
                                                {{ row.status }}
                                            </button>
                                        </ng-container>
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="role">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        Role
                                    </th>
                                    <td mat-cell *matCellDef="let row">
                                        <ng-container *ngFor="let role of row.roles">
                                            {{ role.name }}
                                            <!-- If you want to display a comma-separated list, you can use the following -->
                                            <!-- {{ role.name }}{{ !last ? ', ' : '' }} -->
                                        </ng-container>
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="actions">
                                    <th mat-header-cell class="column-nowrap psl-3 tbl-col-width-per-15 pr-0"
                                        *matHeaderCellDef>
                                        Action
                                    </th>
                                    <td mat-cell *matCellDef="let row; let i = index"
                                        class="column-nowrap psl-3 tbl-col-width-per-15 pr-0">
                                        <!-- Edit Button -->
                                        <button mat-icon-button color="primary" [disabled]="row?.status !== 'PENDING'"
                                            (click)="$event.stopPropagation()" (click)="editUser(row)"
                                            class="tbl-action-btn">
                                            <app-feather-icons [icon]="'edit'" [class]="'tbl-fav-edit'">
                                            </app-feather-icons>
                                        </button>

                                        <!-- View Button -->
                                        <button mat-icon-button color="primary" (click)="$event.stopPropagation()"
                                            (click)="viewUser(row)" class="tbl-action-btn">
                                            <app-feather-icons [icon]="'eye'" [class]="'tbl-fav-eye'">
                                            </app-feather-icons>
                                        </button>

                                        <!-- Validate Button  -->
                                        <button mat-icon-button color="primary" [disabled]="row?.status !== 'PENDING'"
                                            (click)="$event.stopPropagation()" (click)="validateUser(row)"
                                            class="tbl-action-btn">
                                            <app-feather-icons [icon]="'check-circle'" [class]="'tbl-fav-eye'"
                                                matTooltip="Validate"></app-feather-icons>
                                        </button>

                                        <!-- <button mat-icon-button color="primary" (click)="$event.stopPropagation()"
                                            (click)="lockOrUnlockAccount(row)" class="tbl-action-btn">
                                            <mat-icon>{{ row.isAcctActive === 'Y' ? 'lock' : 'lock_open' }}</mat-icon>
                                        </button> -->

                                        <!-- Delete Button -->
                                        <button mat-icon-button color="accent" [disabled]="row?.status !== 'PENDING'"
                                            (click)="$event.stopPropagation()" (click)="deleteUser(row.id)"
                                            class="tbl-action-btn">
                                            <app-feather-icons [icon]="'trash-2'" [class]="'tbl-fav-delete'">
                                            </app-feather-icons>
                                        </button>
                                    </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="viewUser(row)"
                                    [style.cursor]="'pointer'" matRipple></tr>
                                <td mat-cell *matNoDataRow colspan="4">
                                    No data matching the filter "{{ input.value }}"
                                </td>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>