
<section class="dashboard" *ngIf="currentUser">
    <div class="container">
        
      <div class="breadcrumb-banner bg-kingdom">
        <h1>Creswave Dashboard</h1>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a>Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">
              Main Dashboard
            </li>
          </ol>
        </nav>
      </div>
  
      <div class="row mt-2">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-12">
                  <h4 class="card-header">
                    <div class="custom-font">
                      Welcome back
                      <span class="col-green pt-1">{{ currentUser.username }}!</span>
                    </div>
                  </h4>
                </div>
  
                <div class="col-lg-2 col-md-4 col-sm-12 col-xs-12 p-2 mt-3 mb-1">
                  <img src="assets/images/pngegg8.png" alt="" width="100%" height="auto" class="px-2 mx-2" />
                </div>
                <div class="col-lg-10 col-md-8 col-sm-12 col-xs-12 mt-3 mb-1">
                  <p class="card-content">
                    With over 25 years of expertise in Kenyan healthcare operations, we provide cutting-edge technologies
                     that streamline clinic activities, enable paperless practices, and enhance patient-doctor communication. 
                     Our system ensures no missed appointments, drives customer satisfaction through personalized engagements,
                      and employs AI-driven claims management to reduce revenue loss and costs significantly. 
                  </p>
                  <p class="card-content">
                    Thank you for choosing Creswave Technology.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-12">
                  <h4 class="card-header">
                    <div class="custom-font">
                      <span class="col-green pt-1"> User Details</span>
                    </div>
                  </h4>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-12 col-xs-12 p-2 mt-3 mb-1">
                  <!-- <img src="assets/images/pngegg8.png" alt="" width="100%" height="auto" class="px-2 mx-2" /> -->
                  <img [src]="profileImage || 'assets/images/user/profile_img.png'" width="100%" height="auto" class="px-2 mx-2"
                  alt="">
                </div>
                <div class="col-lg-10 col-md-8 col-sm-12 col-xs-12 mt-3 mb-1">
                  <table class="table">
                    <tbody>
                      <tr>
                        <td>
                          <span class="w-50"><strong>Status</strong> </span>
                        </td>
                        <td>:</td>
                        <td>
                          <span class="badge col-purple">{{ currentUser.status }}
                          </span>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <span class="w-50"><strong>Username</strong></span>
                        </td>
                        <td>:</td>
                        <td>{{ currentUser.username }}</td>
                      </tr>
                      <tr>
                        <td>
                          <span class="w-50"><strong>Email</strong></span>
                        </td>
                        <td>:</td>
                        <td>
                          <span class="badge col-purple">{{
                            currentUser.email
                            }}</span>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <span class="w-50"><strong>Role</strong></span>
                        </td>
                        <td>:</td>
                        <td>{{ currentUser.roles }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <div class="user-det-box mb-2">
        <div class="row">
          <div class="col-md-3 col-6 b-r content-animation">
            <strong>Branch Code</strong>
            <br />
            <p class="text-muted">{{ currentUser.branchCode || "-" }}</p>
          </div>
          <div class="col-md-3 col-6 b-r content-animation">
            <strong>Department Code</strong>
            <br />
            <p class="text-muted">{{ currentUser.departmentCode || "-" }}</p>
          </div>
          <div class="col-md-3 col-6 b-r content-animation">
            <strong>Cost Center Code</strong>
            <br />
            <p class="text-muted">{{ currentUser.costCenterCode || "-" }}</p>
          </div>
          <div class="col-md-3 col-6 content-animation">
            <strong>Member Code</strong>
            <br />
            <p class="text-muted">{{ currentUser.empPfNo || "-" }}</p>
          </div>
        </div>
      </div>    

     
      <div class="row">
        <!-- <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12" *ngFor="let module of modules">
          <div class="box-part">
            <div class="menu-wrapper">
              <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="updateModule(module)">
                  <mat-icon>edit</mat-icon>
                  <span>Update</span>
                </button>
                <button mat-menu-item (click)="deleteModule(module.id)">
                  <mat-icon>delete</mat-icon>
                  <span>Delete</span>
                </button>
              </mat-menu>
            </div>
            
            <div class="icon-wrapper">
              <mat-icon>swap_horizontal_circle</mat-icon>
              <div class="arrow-box-icon" (click)="openModule(module.name)">
                <i class="fas fa-sign-in-alt fa-3x"></i>
              </div>
            </div>
            <hr />
            <div class="title">
              <h3>{{ module.blogTittle }}</h3>
            </div>
            <div class="text">
              <p>{{ module.headline }}</p>
            </div>
            <button class="badge badge-solid-green btn btn btn-sm m-1 green-button" (click)="openModule(module.name)">
              Click to Read
            </button>
          </div>
        </div> -->
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12" *ngFor="let module of modules">
          <div class="box-part">
            <div class="menu-wrapper">
              <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="updateModule(module)">
                  <mat-icon>edit</mat-icon>
                  <span>Update</span>
                </button>
                <button mat-menu-item (click)="deleteModule(module.id)">
                  <mat-icon>delete</mat-icon>
                  <span>Delete</span>
                </button>
              </mat-menu>
            </div>
            
            <div class="icon-wrapper">
              <mat-icon>swap_horizontal_circle</mat-icon>
              <div class="arrow-box-icon" (click)="openModule(module.name)">
                <i class="fas fa-sign-in-alt fa-3x"></i>
              </div>
            </div>
            <hr />
            <div class="title">
              <h3>{{ module.blogTittle }}</h3>
            </div>
            <div class="text">
              <p>{{ module.headline }}</p>
            </div>
            <button class="badge badge-solid-green btn btn btn-sm m-1 green-button" (click)="openModule(module)">
              Click to Read
            </button>
          </div>
        </div>
        
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
          <div class="box-part">
            <button mat-icon-button (click)="addNewBlog()">
              <mat-icon>add</mat-icon>
            </button>
            <div class="title">
              <h3>Create New Blog</h3>
            </div>
            <div class="text">
              <p>Click the button to add a new blog.</p>
            </div>
          </div>
        </div>
        
      </div>
      
      <footer class="footer">
        <div class="container">
            
          <div class="row">
            <div class="col-md-2 text-left vendor-logo">
              <img src="/assets/images/creswave.png" alt="E&M Technology House logo" height="80px" width="80px"/>
            </div>
            <div class="col-md-6">
              <h4 class="animated fadeInLeft">About Creswave</h4>
              <p class="animated fadeInRight">
                Creswave  Company is a leading provider of innovative IT
                solutions for businesses of all sizes. We offer a wide range of
                services, including software development, web design, and IT
                consulting. We are committed to providing our clients with
                high-quality, cost-effective solutions that help them achieve
                their business goals.
              </p>
            </div>
  
  
            <div class="col-md-4">
              <h4 class="animated fadeInLeft">Connect with Us</h4>
              <ul class="list-unstyled social-icons animated fadeInRight">
                <li>
                  <a target="_blank" href="https://www.facebook.com/creswaveKE/"><mat-icon>facebook</mat-icon>Creswave Limited Company</a>
                </li>
                <li>
                  <a target="_blank" href="https://twitter.com/creswaveKE"><i class="fab fa-twitter"></i>Creswave Limited Company</a>
                </li>
                <li>
                  <a target="_blank" href="https://www.linkedin.com/company/creswave-limited-company/"><mat-icon>linkedin</mat-icon>Creswave Limited Company</a>
                </li>
                <li>
                    <a target="_blank" href="http://www.creswave.co.ke/"><mat-icon>Website</mat-icon>Creswave Limited Company</a>
                  </li>
              </ul>
  
            </div>
  
           
          </div>
  
          <hr class="animated bounceIn" />
  
  
  
          <div class="row">
            <div class="col-md-12 text-center">
              <p class="copyright animated pulse">
                &copy; 2024 Creswave Test. All Rights Reserved.
              </p>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </section>