
<section class="dashboard" *ngIf="currentUser">
    <div class="container">
        
      <div class="breadcrumb-banner bg-kingdom">
        <h1>Creswave Dashboard</h1>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a>Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">
              Main Dashboard
            </li>
          </ol>
        </nav>
      </div>
  
      <div class="row mt-2">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-12">
                  <h4 class="card-header">
                    <div class="custom-font">
                      Welcome back
                      <span class="col-green pt-1">{{ currentUser.username }}!</span>
                    </div>
                  </h4>
                </div>
  
                <div class="col-lg-2 col-md-4 col-sm-12 col-xs-12 p-2 mt-3 mb-1">
                  <img src="assets/images/pngegg8.png" alt="" width="100%" height="auto" class="px-2 mx-2" />
                </div>
                <div class="col-lg-10 col-md-8 col-sm-12 col-xs-12 mt-3 mb-1">
                  <p class="card-content">
                    With over 25 years of expertise in Kenyan healthcare operations, we provide cutting-edge technologies
                     that streamline clinic activities, enable paperless practices, and enhance patient-doctor communication. 
                     Our system ensures no missed appointments, drives customer satisfaction through personalized engagements,
                      and employs AI-driven claims management to reduce revenue loss and costs significantly. 
                  </p>
                  <p class="card-content">
                    Thank you for choosing Creswave Technology.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-12">
                  <h4 class="card-header">
                    <div class="custom-font">
                      <span class="col-green pt-1"> User Details</span>
                    </div>
                  </h4>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-12 col-xs-12 p-2 mt-3 mb-1">
                  <!-- <img src="assets/images/pngegg8.png" alt="" width="100%" height="auto" class="px-2 mx-2" /> -->
                  <img [src]="profileImage || 'assets/images/user/profile_img.png'" width="100%" height="auto" class="px-2 mx-2"
                  alt="">
                </div>
                <div class="col-lg-10 col-md-8 col-sm-12 col-xs-12 mt-3 mb-1">
                  <table class="table">
                    <tbody>
                      <tr>
                        <td>
                          <span class="w-50"><strong>Status</strong> </span>
                        </td>
                        <td>:</td>
                        <td>
                          <span class="badge col-purple">{{ currentUser.status }}
                          </span>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <span class="w-50"><strong>Username</strong></span>
                        </td>
                        <td>:</td>
                        <td>{{ currentUser.username }}</td>
                      </tr>
                      <tr>
                        <td>
                          <span class="w-50"><strong>Email</strong></span>
                        </td>
                        <td>:</td>
                        <td>
                          <span class="badge col-purple">{{
                            currentUser.email
                            }}</span>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <span class="w-50"><strong>Role</strong></span>
                        </td>
                        <td>:</td>
                        <td>{{ currentUser.roles }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <div class="user-det-box mb-2">
        <div class="row">
          <div class="col-md-3 col-6 b-r content-animation">
            <strong>Branch Code</strong>
            <br />
            <p class="text-muted">{{ currentUser.branchCode || "-" }}</p>
          </div>
          <div class="col-md-3 col-6 b-r content-animation">
            <strong>Department Code</strong>
            <br />
            <p class="text-muted">{{ currentUser.departmentCode || "-" }}</p>
          </div>
          <div class="col-md-3 col-6 b-r content-animation">
            <strong>Cost Center Code</strong>
            <br />
            <p class="text-muted">{{ currentUser.costCenterCode || "-" }}</p>
          </div>
          <div class="col-md-3 col-6 content-animation">
            <strong>Member Code</strong>
            <br />
            <p class="text-muted">{{ currentUser.empPfNo || "-" }}</p>
          </div>
        </div>
      </div>
  
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
          <div class="box-part">
            <div class="icon-wrapper">
              <i class="fas fa-user fa-3x col-green"></i>
              <div class="arrow-box-icon" (click)="openModule('EmployeeSelfServiceModule')">
                <i class="fas fa-sign-in-alt fa-3x"></i>
              </div>
            </div>
            <hr />
            <div class="title">
              <h3>Employee Self Service Portal</h3>
            </div>
            <div class="text">
              <p>
                E&M's Employee Self Service Portal revolutionizes employee
                interactions, enabling efficiency and excellence.
              </p>
            </div>
            <button class="badge badge-solid-green btn btn btn-sm m-1 green-button"
              (click)="openModule('EmployeeSelfServiceModule')">
              Click to Proceed
            </button>
          </div>
        </div>
  
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
          <div class="box-part">
            <div class="icon-wrapper">
              <i class="fas fa-users fa-3x col-green"></i>
              <span class="view-details-icon">
                <div class="arrow-box-icon">
                  <i class="fas fa-sign-in-alt fa-3x" (click)="openModule('AdminModule')"></i>
                </div>
              </span>
            </div>
            <hr />
            <div class="title">
              <h3>Admin Module</h3>
            </div>
            <div class="text">
              <p>
                E&M's Admin Module offers centralized control of system settings
                and user permissions for streamlined management.
              </p>
            </div>
            <button class="badge badge-solid-green btn btn btn-sm m-1 green-button" (click)="openModule('AdminModule')">
              Click to Proceed
            </button>
          </div>
        </div>
  
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
          <div class="box-part">
            <div class="icon-wrapper">
              <i class="fas fa-shopping-cart fa-3x col-green"></i>
              <div class="arrow-box-icon" (click)="openModule('ProcurementModule')">
                <i class="fas fa-sign-in-alt fa-3x fa-3x"></i>
              </div>
            </div>
            <hr />
            <div class="title">
              <h3>Procurement Module</h3>
            </div>
            <div class="text">
              <p>
                E&M's Procurement Module streamlines procurement with suppliers,
                optimized decisions, and cost savings.
              </p>
            </div>
            <button class="badge badge-solid-green btn btn btn-sm m-1 green-button"
              (click)="openModule('ProcurementModule')">
              Click to Proceed
            </button>
          </div>
        </div>
  
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
          <div class="box-part">
            <div class="icon-wrapper">
              <i class="fas fa-users fa-3x col-green"></i>
              <div class="arrow-box-icon" (click)="openModule('HumanResourceModule')">
                <i class="fas fa-sign-in-alt fa-3x fa-3x"></i>
              </div>
            </div>
            <hr />
            <div class="title">
              <h3>HR Module</h3>
            </div>
            <div class="text">
              <p>
                E&M's HR Module empowers businesses with comprehensive features
                for streamlined workforce management.
              </p>
            </div>
            <button class="badge badge-solid-green btn btn btn-sm m-1 green-button"
              (click)="openModule('HumanResourceModule')">
              Click to Proceed
            </button>
          </div>
        </div>
  
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
          <div class="box-part">
            <div class="icon-wrapper">
              <i class="fas fa-money-bill-wave fa-3x col-green"></i>
              <div class="arrow-box-icon" (click)="openModule('FinanceModule')">
                <i class="fas fa-sign-in-alt fa-3x fa-3x"></i>
              </div>
            </div>
            <hr />
            <div class="title">
              <h3>Finance Module</h3>
            </div>
            <div class="text">
              <p>
                E&M's Finance Module offers powerful tools for accurate financial
                operations and informed decision-making.
              </p>
            </div>
            <button class="badge badge-solid-green btn btn btn-sm m-1 green-button" (click)="openModule('FinanceModule')">
              Click to Proceed
            </button>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
          <div class="box-part">
            <div class="icon-wrapper">
              <i class="fas fa-building fa-3x col-green"></i>
              <div class="arrow-box-icon" (click)="openModule('FixedAssetsModule')">
                <i class="fas fa-sign-in-alt fa-3x fa-3x"></i>
              </div>
            </div>
            <hr />
            <div class="title">
              <h3>Fixed Assets Module</h3>
            </div>
            <div class="text">
              <p>
                The Fixed Assets module provides comprehensive tracking,
                valuation, and reporting for efficient asset management.
              </p>
            </div>
            <button class="badge badge-solid-green btn btn btn-sm m-1 green-button"
              (click)="openModule('FixedAssetsModule')">
              Click to Proceed
            </button>
          </div>
        </div>
  
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
          <div class="box-part">
            <div class="icon-wrapper">
              <i class="fas fa-truck fa-3x col-green"></i>
              <div class="arrow-box-icon" (click)="openModule('SuppliersManagementModule')">
                <i class="fas fa-sign-in-alt fa-3x fa-3x"></i>
              </div>
            </div>
            <hr />
            <div class="title">
              <h3>Suppliers Portal Management</h3>
            </div>
            <div class="text">
              <p>
                E&M's Supplier Management Module revolutionizes supplier
                interactions, enabling efficiency and excellence.
              </p>
            </div>
            <button class="badge badge-solid-green btn btn btn-sm m-1 green-button"
              (click)="openModule('SuppliersManagementModule')">
              Click to Proceed
            </button>
          </div>
        </div>
  

  
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
          <div class="box-part">
            <div class="icon-wrapper">
              <i class="fas fa-money-bill-alt fa-3x col-green"></i>
              <div class="arrow-box-icon" (click)="openModule('BudgetModule')">
                <i class="fas fa-sign-in-alt fa-3x fa-3x"></i>
              </div>
            </div>
            <hr />
            <div class="title">
              <h3>Budget Management</h3>
            </div>
            <div class="text">
              <p>
                Efficiently manage budget funds for optimal financial management
                and resource allocation.
              </p>
            </div>
            <button class="badge badge-solid-green btn btn btn-sm m-1 green-button" (click)="openModule('BudgetModule')">
              Click to Proceed
            </button>
          </div>
        </div>
  
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
          <div class="box-part">
            <div class="icon-wrapper">
              <i class="fas fa-money-check fa-3x col-green"></i>
              <div class="arrow-box-icon" (click)="openModule('ImprestModule')">
                <i class="fas fa-sign-in-alt fa-3x fa-3x"></i>
              </div>
            </div>
            <hr />
            <div class="title">
              <h3>Imprest Management</h3>
            </div>
            <div class="text">
              <p>
                Centralized control optimizes imprest fund management for
                efficient operations and oversight.
              </p>
            </div>
            <button class="badge badge-solid-green btn btn btn-sm m-1 green-button" (click)="openModule('ImprestModule')">
              Click to Proceed
            </button>
          </div>
        </div>
  

  
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
          <div class="box-part">
            <div class="icon-wrapper">
              <i class="fas fa-credit-card fa-3x col-green"></i>
              <div class="arrow-box-icon" (click)="openModule('InventoryModule')">
                <i class="fas fa-sign-in-alt fa-3x fa-3x"></i>
              </div>
            </div>
            <hr />
            <div class="title">
              <h3>Inventory Management</h3>
            </div>
            <div class="text">
              <p>
                Efficiently manage inventory transactions and streamline payment
                processes for better financial control.
              </p>
            </div>
            <button class="badge badge-solid-green btn btn btn-sm m-1 green-button"
              (click)="openModule('InventoryModule')">
              Click to Proceed
            </button>
          </div>
        </div>
      </div>
  
      <footer class="footer">
        <div class="container">
            
          <div class="row">
            <div class="col-md-2 text-left vendor-logo">
              <img src="/assets/images/creswave.png" alt="E&M Technology House logo" height="80px" width="80px"/>
            </div>
            <div class="col-md-6">
              <h4 class="animated fadeInLeft">About Creswave</h4>
              <p class="animated fadeInRight">
                Creswave  Company is a leading provider of innovative IT
                solutions for businesses of all sizes. We offer a wide range of
                services, including software development, web design, and IT
                consulting. We are committed to providing our clients with
                high-quality, cost-effective solutions that help them achieve
                their business goals.
              </p>
            </div>
  
  
            <div class="col-md-4">
              <h4 class="animated fadeInLeft">Connect with Us</h4>
              <ul class="list-unstyled social-icons animated fadeInRight">
                <li>
                  <a target="_blank" href="https://www.facebook.com/creswaveKE/"><mat-icon>facebook</mat-icon>Creswave Limited Company</a>
                </li>
                <li>
                  <a target="_blank" href="https://twitter.com/creswaveKE"><i class="fab fa-twitter"></i>Creswave Limited Company</a>
                </li>
                <li>
                  <a target="_blank" href="https://www.linkedin.com/company/creswave-limited-company/"><mat-icon>linkedin</mat-icon>Creswave Limited Company</a>
                </li>
                <li>
                    <a target="_blank" href="http://www.creswave.co.ke/"><mat-icon>Website</mat-icon>Creswave Limited Company</a>
                  </li>
              </ul>
  
            </div>
  
           
          </div>
  
          <hr class="animated bounceIn" />
  
  
  
          <div class="row">
            <div class="col-md-12 text-center">
              <p class="copyright animated pulse">
                &copy; 2024 Creswave Test. All Rights Reserved.
              </p>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </section>