<div class="addContainer">
    <div class="contact-details">
        <div class="m-10" *ngIf="validationIsLoading">
            <mat-progress-bar color="primary" mode="indeterminate"></mat-progress-bar>
        </div>
        <div class="modalHeader">
            <div class="contact-details-name mb-1">
                <strong>Validate User(s)</strong>
            </div>
            <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </div>
        <div mat-dialog-content>
            <mat-card-content>
                <div class="row">
                    <!--Gift Icon-->
                    <div class="col text-center my-2">
                        <i class="fas fa-check-circle fa-6x col-green"></i>
                    </div>
                    <!--Modal Text-->

                    <!-- <div class="col-8 my-2">
              <dl class="dl-horizontal">
                <dt class="pull-left me-2">Expense Code:</dt>
                <dd>{{Data.expenseCode}}</dd>
                <dt class="pull-left me-2">Expense Name:</dt>
                <dd> {{ Data.expenseName }}</dd>
                <dt class="pull-left me-2">Posted By:</dt>
                <dd> {{ Data.postedBy }}</dd>
              </dl>
            </div> -->
                </div>

                <div class="">
                    <hr />

                    <!-- Approve -->
                    <div *ngIf="!hideValidation" class="row" style="margin-top: 10px">
                        <div class="col-6">
                            <div class="row m-1">
                                <button (click)="approve()" type="button"
                                    class="badge badge-solid-green btn btn-lg btn-block m-1" [disabled]="!canVerify">
                                    Approve
                                </button>
                            </div>
                        </div>

                        <!-- Reject -->
                        <div class="col-6">
                            <div class="row m-1">
                                <button (click)="reject()" type="button"
                                    class="badge badge-solid-red btn btn-lg btn-block m-1" [disabled]="!canVerify">
                                    Reject
                                </button>
                            </div>
                        </div>
                    </div>
                    <form *ngIf="!hideValidation" class="register-form m-4" [formGroup]="statusForm">
                        <div class="row" *ngIf="rejected">
                            <div class="col-10 mb-2">
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-label>Reason for rejection</mat-label>
                                    <textarea formControlName="remarks" matInput></textarea>
                                    <mat-error *ngIf="statusForm.get('remarks').hasError('required')">Reason is
                                        required</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-2 d-flex align-items-center justify-content-center mb-2">
                                <button mat-raised-button color="primary" [disabled]="statusForm.invalid" tabindex="-1"
                                    (click)="changeStatus()">
                                    Submit
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </mat-card-content>
        </div>
    </div>
</div>