<div class="row">
    <div class="col-lg-3 col-sm-6" (click)="navigateToRoles()">
        <div class="info-box7 bg-emtech order-info-box7">
            <div class="info-box7-block">
                <h4 class="m-b-20">Roles</h4>
                <h2 class="text-end"><span class="float-start">{{ rolesCount }}</span><i class="fas fa-user-shield"></i>
                </h2>
                <p class="m-b-0">Click for more details!</p>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6" (click)="navigateToPendingUsers()">
        <div class="info-box7 bg-emtech order-info-box7">
            <div class="info-box7-block">
                <h4 class="m-b-20">Pending Users</h4>
                <h2 class="text-end"><span class="float-start">{{ pendingUsersCount }}</span><i
                        class="fas fa-pencil-alt"></i></h2>
                <p class="m-b-0">Click for more details!</p>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6" (click)="navigateToApprovedUsers()">
        <div class="info-box7 bg-emtech order-info-box7">
            <div class="info-box7-block">
                <h4 class="m-b-20">Approved Users</h4>
                <h2 class="text-end"><span class="float-start">{{ approvedUsersCount }}</span><i
                        class="fas fa-check"></i></h2>
                <p class="m-b-0">Click for more details!</p>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6" (click)="navigateToLoginSessions()">
        <div class="info-box7 bg-emtech order-info-box7">
            <div class="info-box7-block">
                <h4 class="m-b-20">Login Sessions</h4>
                <h2 class="text-end"><span class="float-start">{{ loginSessionsCount }}</span><i
                        class="fas fa-user-circle"></i></h2>
                <p class="m-b-0">Click for more details!</p>
            </div>
        </div>
    </div>
</div>